//연십//
.composition{
  position: relative;
  z-index: 10;
  
  

  &__photo{
    position: absolute;
    width: 55%;
    //variable black//
    box-shadow: 0 2rem 2rem rgba($color-black, 0.2);
    border-radius: 3px;
    outline-offset: 2rem;
    transition: 0.2s;
    &--1{
      top: 2px;
      left: 0%;

    }
    &--2{
      right: 0;
      top: 4rem;
    }
    &--3{
      top: 10rem;
      left: 9rem;
    }
    &:hover{
      z-index: 20;
      outline: 1.5rem solid;
      outline-color: $color-primary-dark;
      box-shadow: 0 2rem 2rem rgba( $color-black, 0.5);
     }
  }
    &:hover &__photo:not(:hover){
      transform: scale(0.9);
      
  }
}

